<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../static/css/showCate.css">
    <title>Document</title>
</head>
<body>
<div class="panel">
    <form action="updatayouqing.php" method="post">
        <!--下拉框-->
        <div class="forngroup">
            <label for="">父级栏目</label>
            <!--父栏目的id-->
            <select name="cid" id="" >
                <?php echo $lanmu?>
            </select>
        </div>
        <div class="forngroup">
            <label for="">栏目id</label>
            <input type="text" name="sid" placeholder="栏目id" value="<?php echo $sid?>">
        </div>
        <div class="forngroup">
            <label for="">头像</label>
            <input type="file" name="strtou" value="<?php echo $strtou;?>">
        </div>
        <div class="forngroup">
            <label for="">标题</label>
            <input type="text" name="strtitle" placeholder="主页内容" value="<?php echo $strtitle;?>">
        </div>
        <div class="forngroup">
            <label for="">内容</label>
            <input type="text" name="strcent" placeholder="banner英文标题" value="<?php echo $strcent;?>">
        </div>
        <div class="forngroup">
            <label for="">前</label>
            <input type="file" name="qian" value="<?php echo $qian;?>">
        </div>
        <div class="forngroup">
            <label for="">后</label>
            <input type="file" name="hou" value="<?php echo $hou;?>">
        </div>
        <div class="forngroup">
            <label for="">左</label>
            <input type="file" name="leftpho" value="<?php echo $leftpho;?>">
        </div>
        <div class="forngroup">
            <label for="">右</label>
            <input type="file" name="rightpho" value="<?php echo $rightpho;?>">
        </div>
        <div class="forngroup">
        <label for="">上</label>
        <input type="file" name="top" value="<?php echo $top;?>">
    </div>
        <div class="forngroup">
            <label for="">下</label>
            <input type="file" name="bottom" value="<?php echo $bottom;?>" >
        </div>
        <div class="forngroup">
            <input type="submit" name="sub" value="提交">
        </div>
    </form>
</div>
</body>
</html>